{%extends 'HomeBase.html'%}

{%block Content%}

<section id="incomes" class="incomes mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Incomes</h3>
            </div>
            <div class="col text-end">
                <a href="./addincome" class="btn btn-success" title="Add Income"><i
                        class="fas fa-angle-double-up"></i></a>
            </div>
        </div>
        <div class="row list mt-3">
            {% if session.income|length > 0%}
            <!-- CARD START -->
            {%for income in session.income%}
            <div class="col-xl-6 mb-3">
                <div class="card list-incomes">
                    <div onclick='window.location.href = "./showincome?incomeid={{income.INCOMEID}}";'>
                        <input type="hidden" name="incomeid" value="{{income.INCOMEID}}">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title={{income.INCOMENOTE}}>
                            <div class="row d-flex align-items-center">
                                <div class="col-2 text-center text-success">
                                    <h6 class="card-text text-start">{{income.INCOMECATEGORY}}</h6>
                                </div>
                                <div class="col-5">
                                    <div class="col-7 text-truncate">
                                        <h6>{{income.INCOMENOTE}}</h6>
                                    </div>
                                    <p class="card-text text-start text-secondary" style="font-size: 14px;">
                                        {{income.INCOMEDATE}}</p>
                                </div>
                                <div class="col-5">
                                    <p class="card-text text-success text-end"><b>IDR {{income.INCOMEAMOUNT}}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <svg data-toggle="tooltip" data-placement="top" title="Delete"
                            onclick='window.location.href = "./deleteincome?incomeid={{income.INCOMEID}}";'
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </div>
                </div>
            </div>
            {%endfor%}
            <!-- CARD END -->

            {%else%}

            <!-- IF ZERO CARD START -->

            <div class="col-xl-12 mt-3">
                <div class="card list-incomes empty" onclick="document.location.href = './addincome';">
                    <div class="card-body text-center mt-3">
                        <span style="font-size: 50px;">
                            <i class="fas fa-angle-double-up"></i>
                        </span>
                        <h3 class="card-title mt-4">Income Empty</h3>
                        <p class="text-secondary">Oops! Your income data is empty. Please add your income data.</p>
                    </div>
                </div>
            </div>

            <!-- IF ZERO CARD END -->
            {%endif%}
        </div>
    </div>
</section>

{%endblock%}