{%extends 'HomeBase.html'%}

{%block Content%}

<section id="budget" class="budget">
    <div class="container">
    </div>
</section>

<section id="addIncome" class="addIncome">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class=" col-xl-6 mt-5 mb-5">
                <div class="justify-content-center text-center">
                    {%if error %}
                    <p style="color: green;">{{error}}</p>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Show Income</h3>
                        <form class="mt-3" action="" action="{{url_for('updateincome')}}" method="post">
                            <input type="hidden" value="{{data.INCOMEID}}" name="incomeid">
                            <input type="hidden" value="{{data.CATOGERYNAME}}" name="catid">
                            <div class="mb-3">
                                <label for="date_income" class="form-label">Income Date</label>
                                <input type="date" value="{{data.INCOMEDATE}}" class="form-control" id="date_income"
                                    name="date_income" autofocus required>
                            </div>
                            <div class="mb-3">
                                <label for="category_income" class="form-label">Income Category</label>
                                <select class="form-select" id="category_income" name="category_income">
                                    <option value="Salery,salery-id" {% if data.INCOMECATEGORY=="Salery" %} selected="selected"{% endif %}>Salery</option>
                                    <option value="Profit,profit-id" {% if data.INCOMECATEGORY=="Profit" %} selected="selected"{% endif %}>Profit</option>
                                    <option value="Bonus,nonus-id" {% if data.INCOMECATEGORY=="Bonus" %} selected="selected"{% endif %}>Bonus</option>
                                    <option value="Other,other-id" {% if data.INCOMECATEGORY=="Other" %} selected="selected"{% endif %}>Other</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="note_income" class="form-label">Income Note</label>
                                <textarea class="form-control" id="note_income" name="note_income" rows="3"
                                    required>{{data.INCOMENOTE}}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="budget_income" class="form-label">Income Budget</label>
                                <input type="number" value="{{data.INCOMEAMOUNT}}" class="form-control" id="budget_income" name="budget_income"
                                    required>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <a href="dashboard" class="btn btn-light">Back</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success" type="submit" name="submit">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

{%endblock%}