{%extends 'HomeBase.html'%}

{%block Content%}

<section id="budget" class="budget">
    <div class="container">
    </div>
</section>

<section id="expense" class="expense mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Expenses</h3>
            </div>
            <div class="col text-end">
                <a href="./addexpense" class="btn btn-danger" title="Add Expense"><i
                        class="fas fa-angle-double-down"></i></a>
            </div>
        </div>
        <div class="row list mt-3">

            <!-- CARD START -->

            {% if session.expense|length > 0%}

            {%for expense in session.expense%}

            <div class="col-xl-6 mb-3">
                <!-- document.location.href = 'detailExpense.php?code_expense=<?= $expense['code_expense']; ?>'; -->
                <div class="card list-expense" onclick="alert('{{expense.EXPENSEID}}')">
                    <div class="card-body" data-toggle="tooltip" data-placement="top" title={{expense.EXPENSENOTE}}>
                        <div class="row d-flex align-items-center">
                            <div class="col-2 text-center">
                                <span>
                                    <i class="fas fa-Entertainment"></i>
                                </span>
                            </div>
                            <div class="col-5">
                                <h6 class="card-text text-start">{{expense.EXPENSECATEGORY}}</h6>
                                <p class="card-text text-start text-secondary" style="font-size: 14px;">
                                    {{expense.EXPENSEDATE}}</p>
                            </div>
                            <div class="col-5">
                                <p class="card-text text-danger text-end"><b>IDR {{expense.EXPENSEAMOUNT}}</b></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- END OF CARD -->

            {%endfor%}

            {%else%}

            <!-- IF ZERO CARD START -->

            <div class="col-xl-12 mt-3">
                <div class="card list-expense empty" onclick="document.location.href = './addexpense';">
                    <div class="card-body text-center mt-3">
                        <span style="font-size: 50px;">
                            <i class="fas fa-angle-double-down"></i>
                        </span>
                        <h3 class="card-title mt-4">Expense Empty</h3>
                        <p class="text-secondary">Oops! Your expense data is empty. Please add your expense data.</p>
                    </div>
                </div>
            </div>

            {%endif%}

            <!-- ZERO CARD END -->
        </div>
    </div>
</section>

{%endblock%}