{%extends 'HomeBase.html'%}

{%block Content%}

<section id="budget" class="budget">
    <div class="container">
        Welcome {{session.userid}}
        <div class="row">
            <div class="col-xl-4 mt-3">
                <div class="card balance">
                    <div class="card-body">
                        <p class="card-text text-center">My Balance </p>
                        <h3 class="card-text mt-3 text-center"><b>IDR {{session.inco - session.expe}}</b></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-center">Income</p>
                        <h3 class="card-text mt-3 text-success text-center"><b><i class="fas fa-angle-double-up"></i>
                                IDR {{session.inco}}</b></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-center">Expense</p>
                        <h3 class="card-text mt-3 text-danger text-center"><b><i class="fas fa-angle-double-down"></i>
                                IDR {{session.expe}}</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="incomes" class="incomes mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Incomes</h3>
            </div>
            <div class="col text-end">
                <a href="./addincome" class="btn btn-success" title="Add Income"><i
                        class="fas fa-angle-double-up"></i></a>
            </div>
        </div>
        <div class="row list mt-3">
            {% if session.income|length > 0%}
            <!-- CARD START -->
            {%for income in session.income[:6]%}
            <div class="col-xl-6 mb-3">
                <div class="card list-incomes">
                    <div onclick='window.location.href = "./showincome?incomeid={{income.INCOMEID}}";'>
                        <input type="hidden" name="incomeid" value="{{income.INCOMEID}}">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title={{income.INCOMENOTE}}>
                            <div class="row d-flex align-items-center">
                                <div class="col-2 text-center">
                                    <span>
                                        <i class="fas fa-indian-rupee-sign"></i>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <h6 class="card-text text-start">{{income.INCOMECATEGORY}}</h6>
                                    <p class="card-text text-start text-secondary" style="font-size: 14px;">
                                        {{income.INCOMEDATE}}</p>
                                </div>
                                <div class="col-5">
                                    <p class="card-text text-success text-end"><b>IDR {{income.INCOMEAMOUNT}}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="card-text btn btn-primary text-center"
                        onclick='window.location.href = "./deleteincome?incomeid={{income.INCOMEID}}";'>Delete</button>
                </div>
            </div>
            {%endfor%}
            <!-- CARD END -->

            <!-- START OF SHOW MORE -->

            <form action="" method="post" class="text-center">
                <a class="mt-3 btn btn-link text-dark" href="./incomelist" type="submit" name="viewIncome">View all
                    income</a>
            </form>

            <!-- END OF SHOW MORE -->

            {%else%}

            <!-- IF ZERO CARD START -->

            <div class="col-xl-12 mt-3">
                <div class="card list-incomes empty" onclick="document.location.href = './addincome';">
                    <div class="card-body text-center mt-3">
                        <span style="font-size: 50px;">
                            <i class="fas fa-angle-double-up"></i>
                        </span>
                        <h3 class="card-title mt-4">Income Empty</h3>
                        <p class="text-secondary">Oops! Your income data is empty. Please add your income data.</p>
                    </div>
                </div>
            </div>

            <!-- IF ZERO CARD END -->
            {%endif%}
        </div>
    </div>
</section>

<section id="expense" class="expense mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Expenses</h3>
            </div>
            <div class="col text-end">
                <a href="./addexpense" class="btn btn-danger" title="Add Expense"><i
                        class="fas fa-angle-double-down"></i></a>
            </div>
        </div>
        <div class="row list mt-3">

            <!-- CARD START -->

            {% if session.expense|length > 0%}

            {%for expense in session.expense[:6]%}

            <div class="col-xl-6 mb-3">
                <!-- document.location.href = 'detailExpense.php?code_expense=<?= $expense['code_expense']; ?>'; -->
                <div class="card list-expense">
                    <div onclick='window.location.href = "./showexpense?expenseid={{expense.EXPENSEID}}";'>
                        <input type="hidden" name="expenseid" value="{{expense.EXPENSEID}}">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title={{expense.EXPENSENOTE}}>
                            <div class="row d-flex align-items-center">
                                <div class="col-2 text-center">
                                    <span>
                                        <i class="fas fa-Entertainment"></i>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <h6 class="card-text text-start">{{expense.EXPENSECATEGORY}}</h6>
                                    <p class="card-text text-start text-secondary" style="font-size: 14px;">
                                        {{expense.EXPENSEDATE}}</p>
                                </div>
                                <div class="col-5">
                                    <p class="card-text text-danger text-end"><b>IDR {{expense.EXPENSEAMOUNT}}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="card-text btn btn-danger text-center"
                        onclick='window.location.href = "./deleteexpense?expenseid={{expense.EXPENSEID}}";'>Delete</button>
                </div>
            </div>

            <!-- END OF CARD -->

            {%endfor%}

            <!-- START OF SHOW MORE -->

            <form action="" method="post" class="text-center">
                <a class="mt-3 btn btn-link text-dark" href="./expenselist" type="submit" name="viewExpense">View all
                    expense</a>
            </form>

            <!-- END OF SHOW MORE -->

            {%else%}

            <!-- IF ZERO CARD START -->

            <div class="col-xl-12 mt-3">
                <div class="card list-expense empty" onclick="document.location.href = './addexpense';">
                    <div class="card-body text-center mt-3">
                        <span style="font-size: 50px;">
                            <i class="fas fa-angle-double-down"></i>
                        </span>
                        <h3 class="card-title mt-4">Expense Empty</h3>
                        <p class="text-secondary">Oops! Your expense data is empty. Please add your expense data.</p>
                    </div>
                </div>
            </div>

            {%endif%}

            <!-- ZERO CARD END -->
        </div>
    </div>
</section>

<div class="modal fade" id="noteSetBudget" class="noteSetBudget" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="justify">Enter the current budget correctly and<span class="fw-bold"> if you make a budget
                        change, your data will be deleted</span>, for the sake of balancing the data on your account.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#setBudget" data-bs-toggle="modal">Set Budget</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="setBudget" class="setBudget" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="code_budget" name="code_budget" value="BUDGET_ID">
                    <input type="hidden" class="form-control" id="id_user" name="id_user" value="USER_ID">
                    <div class="mb-3">
                        <label for="inputBudget" class="col-form-label">Budget</label>
                        <input type="number" class="form-control" id="inputBudget" name="inputBudget" autofocus
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="submitBudget" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <script>
    function senddata(id) {

        const URL = '/showinco'
        const xhr = new XMLHttpRequest();
        sender = JSON.stringify({"incomeid":id})
        xhr.open('POST', URL);
        xhr.send(sender);
    }
</script> -->
{%endblock%}